# =========================
# Java / Spring Boot
# =========================
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# React / Node
# =========================
**/node_modules/
**/dist/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Python
# =========================
**/venv/
**/.venv/
**/__pycache__/
*.py[cod]

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db